<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DynamoMobileTest">

	<!-- Parámetros -->
		
		<!-- Busqueda ML -->
		<parameter name="url" value="https://www.mercadolibre.com.ar/"/>
		<parameter name="busqueda" value="ruedas"/>
				
	
	<!-- Paquetes a testear -->
	<test name="MercadoLibreBusqueda">
		<packages>
			<package name="com.dynm.ejercicio.ml"/>	
		</packages>	
	</test>
</suite>

